h1 {
    a {
      color: inherit;
      font-weight: inherit;
      text-decoration: inherit;
    }
  }
  
  h2 {
    a {
      color: inherit;
      font-weight: inherit;
      text-decoration: inherit;
    }
  }
  
  h3 {
    font-size: 20px;
  
    a {
      color: inherit;
      font-weight: inherit;
      text-decoration: inherit;
    }
  }
  