<mat-card>
  <mat-card-header>
    <mat-card-title>Register Security Key</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>Set up a hardware device as a second factor to sign in.</p>
    @if (stage() === 1) {
    @if (hasTOTP()) {
    <p>
      To add a security key to your account, plug it in, click the button
      below and follow the prompt from your browser.
    </p>
    } @else {
    <p>
      Not all browsers support security keys. Therefore, we require that you
      set up a TOTP authenticator app first. That way you'll always be able
      to sign in - even when you're using an unsupported browser.
    </p>
    }
    @if (error) {
    <div class="activation-error">
      <gt-form-error [error]="error"></gt-form-error>
    </div>
    }
    <gt-loading-button buttonText="Set up new device" [loading]="false" (click)="activateWebauthn()"
      [disabled]="hasTOTP() === undefined" buttonStyle="flat"></gt-loading-button>
    }
    @if (stage() === 2) {
    <p>Provide a name for your device to complete registration.</p>
    <form [formGroup]="form">
      <mat-form-field appearance="outline">
        <mat-label>Device name</mat-label>
        <input matInput formControlName="fido2Code" />
        <mat-error *ngIf="fido2Code?.invalid">
          <span *ngIf="fido2Code?.errors?.required">Required</span>
        </mat-error>
      </mat-form-field>
      <button class="register-button" mat-flat-button color="primary" (click)="activateWebauthn()">
        Register
      </button>
    </form>
    }
    @if (authenticators.length > 0) {
    <p class="mat-body-strong">Security keys</p>
    <div class="negative-margin">
      <div class="mat-body-strong">
        <div class="key_headings">
          <div>Name</div>
          <div>Last used</div>
        </div>
      </div>
    </div>
    @for (key of authenticators; track key) {
    <div class="key_row">
    </div>
    }
    }
  </mat-card-content>
</mat-card>