@if ((tags$ | async)?.length) {
  <mat-card>
    <mat-card-content>
      <h3 class="mat-body-strong">Tags</h3>
      @for (tag of tags$ | async; track tag) {
        <p class="top-value mat-caption">
          <span class="key">{{ tag.key }}</span>
          <span>
            {{ tag.topValues[0].value }}: {{ tag.topValues[0].percentRounded }}%
          </span>
        </p>
        <div>
          <div class="bars">
            @for (topValue of tag.topValues; track topValue) {
              <span
                class="bar"
            [ngStyle]="{
              'width.%': topValue.percentRounded
            }"
            matTooltip="
            {{ topValue.value }} - {{ topValue.percentRounded }}%
          "
                matTooltipPosition="left"
                ></span
                >
                }<span
                class="bar"
            [ngStyle]="{
              'width.%': tag.other
            }"
            matTooltip="
          Other - {{ tag.other }}%
        "
                matTooltipPosition="left"
              ></span> </div></div
              >
            }
          </mat-card-content>
        </mat-card>
      }
