<div class="l-body">
  @if (contextLoaded$ | async) {
    <mat-card>
      <mat-card-content>
        <ng-container>
          @if (canCreateOrg$ | async) {
            <mat-card-title i18n>Create a New Organization</mat-card-title>
            @if ((organizationCount$ | async) === 0) {
              <p i18n
                >This is the first step to get started with GlitchTip.</p
                >
              }
              <form
                [formGroup]="form"
                (ngSubmit)="onSubmit()"
                id="create-organization-form"
                >
                @if (error$ | async; as error) {
                  <mat-error>{{ error }}</mat-error>
                }
                <mat-form-field appearance="outline">
                  <mat-label>Name</mat-label>
                  <input matInput formControlName="name" i18n-placeholder />
                </mat-form-field>
                <button id="submit" mat-flat-button color="primary" i18n
                  >Create Organization</button
                  >
                </form>
              } @else {
                <ng-container i18n>Organization creation has been disabled on this instance of
          GlitchTip. Contact an administrator to be invited into an existing
          organization.</ng-container>
              }
            </ng-container>
          </mat-card-content>
        </mat-card>
      }
    </div>
