<mat-card>
  <mat-card-header class="flex-common">
    <mat-card-title i18n>Project Alerts</mat-card-title>
    <button
      mat-flat-button
      id="create-new-alert"
      color="primary"
      (click)="openNewAlert()"
      [disabled]="(newAlertOpen$ | async) === true"
      i18n
      >Create New Alert</button
    >
  </mat-card-header>
  <mat-divider></mat-divider>

  <mat-card-content>
    @if ((initialLoad$ | async) === true) {
      <!-- New Alert -->
      @if ((newAlertOpen$ | async) === true) {
        <div class="new-alert">
          <div class="alert-header">
            <h3 i18n>New Alert</h3>
          </div>
          @if (newAlertError$ | async; as error) {
            <p class="error new-alert-error">
              {{ error }}
            </p>
          }
          <gt-alert-form
            #newAlert
            [newAlert]="true"
            (alertSubmit)="newAlertProperties($event)"
          ></gt-alert-form>
          <h4 class="mat-body-strong">Recipients:</h4>
          @if ((newProjectAlertRecipients$ | async)?.length === 0) {
            <p class="no-recipients no-recipients-new" i18n
              >This alert isn't being sent anywhere. Select "Add An Alert
              Recipient" below to get started.</p
            >
          }
          <ul>
            @for (
              recipient of newProjectAlertRecipients$ | async;
              track recipient;
              let recipientIndex = $index
            ) {
              <li>
                <div
                  class="recipients"
                  [class.border-top]="recipientIndex === 0"
                >
                  @if (recipient.recipientType === "email") {
                    <mat-icon class="alert-type">email</mat-icon>
                    <div class="recipient-info">
                      <span
                        class="tooltip"
                        matTooltip="Send an email to team members on this project."
                        matTooltipClass="tt-wrapping"
                        i18n
                        >Send an email to team members on this project.</span
                      >
                    </div>
                  }
                  @if (
                    recipient.recipientType === "webhook" ||
                    recipient.recipientType === "discord" ||
                    recipient.recipientType === "googlechat"
                  ) {
                    <div class="svg-box">
                      <svg class="svg">
                        @if (recipient.recipientType === "discord") {
                          <use xlink:href="#discord"></use>
                        }
                        @if (recipient.recipientType === "googlechat") {
                          <use xlink:href="#googlechat"></use>
                        }
                        @if (recipient.recipientType === "webhook") {
                          <use xlink:href="#webhook"></use>
                        }
                      </svg>
                    </div>
                    <div class="recipient-info">
                      <span
                        class="tooltip"
                        matTooltip="{{ recipient.url }}"
                        matTooltipClass="tt-wrapping"
                        >{{ recipient.url }}
                      </span>
                    </div>
                  }
                  <button
                    class="trash medium-icon-button"
                    mat-icon-button
                    color="primary"
                    attr.aria-label="Delete Alert For {{ recipient.url }}"
                    (click)="removeNewAlertRecipient(recipient.url)"
                  >
                    <mat-icon>delete_outline</mat-icon>
                  </button>
                </div>
              </li>
            }
          </ul>
          <button
            mat-stroked-button
            color="primary"
            (click)="openCreateRecipientDialog()"
          >
            <mat-icon>add</mat-icon>
            <ng-container i18n>Add An Alert Recipient</ng-container>
          </button>
          <div class="new-alert-actions">
            <gt-loading-button
              buttonText="submit"
              [loading]="(newAlertLoading$ | async) === true"
              (click)="submitCreateAlert()"
              i18n
              >Submit</gt-loading-button
            >
            <button (click)="closeNewAlert()" mat-stroked-button i18n
              >Cancel</button
            >
          </div>
        </div>
      }
      @if (
        (projectAlerts$ | async)?.length === 0 &&
        (newAlertOpen$ | async) === false
      ) {
        <p class="no-alerts" i18n
          >You don't have any alerts set up. Click "Create New Alert" on the top
          right of this card to get started.</p
        >
      } @else {
        @for (alert of projectAlerts$ | async; track alert; let i = $index) {
          <div class="alert">
            @if (i !== 0) {
              <mat-divider></mat-divider>
            }
            @if ((removeAlertError$ | async)?.id === alert.id) {
              <p class="error alert-error">
                {{ (removeAlertError$ | async)?.error }}
              </p>
            }
            <div class="flex-common alert-header">
              @if (alert.name) {
                <h3>{{ alert.name }}</h3>
              } @else {
                <h3>Alert {{ i + 1 }}</h3>
              }
              <gt-loading-button
                [buttonText]="'Remove Alert ' + (i + 1)"
                buttonStyle="stroked"
                (click)="removeAlert(alert.id)"
                [loading]="(removeAlertLoading$ | async) === alert.id"
              >
              </gt-loading-button>
            </div>
            @if ((updatePropertiesError$ | async)?.id === alert.id) {
              <p class="error alert-form-error">
                {{ (updatePropertiesError$ | async)?.error }}
              </p>
            }
            <gt-alert-form
              [newAlert]="false"
              [loading]="(updatePropertiesLoading$ | async) === alert.id"
              [timespan]="alert.timespanMinutes"
              [quantity]="alert.quantity"
              [uptime]="alert.uptime"
              [errorAlert]="alert.errorAlert"
              (alertSubmit)="updateProperties($event, alert)"
            ></gt-alert-form>
            <h4 class="mat-body-strong">Recipients:</h4>
            @if (deleteRecipientError$ | async; as error) {
              <p class="error recipients-error">
                {{ error }}
              </p>
            }
            @if (alert.alertRecipients.length === 0) {
              <p class="no-recipients">
                This alert isn't being sent anywhere. Select "Add An Alert
                Recipient" below to get started.
              </p>
            }
            <ul>
              @for (
                recipient of alert.alertRecipients;
                track recipient;
                let recipientIndex = $index
              ) {
                <li>
                  <div
                    class="recipients"
                    [class.border-top]="recipientIndex === 0"
                  >
                    @if (recipient.recipientType === "email") {
                      <mat-icon class="alert-type">email</mat-icon>
                      <div class="recipient-info">
                        <span
                          class="tooltip"
                          matTooltip="Send an email to team members on this project."
                          matTooltipClass="tt-wrapping"
                          >Send an email to team members on this project.
                        </span>
                      </div>
                    }
                    @if (
                      recipient.recipientType === "webhook" ||
                      recipient.recipientType === "discord" ||
                      recipient.recipientType === "googlechat"
                    ) {
                      <div class="svg-box">
                        <svg class="svg">
                          @if (recipient.recipientType === "discord") {
                            <use xlink:href="#discord"></use>
                          }
                          @if (recipient.recipientType === "googlechat") {
                            <use xlink:href="#googlechat"></use>
                          }
                          @if (recipient.recipientType === "webhook") {
                            <use xlink:href="#webhook"></use>
                          }
                        </svg>
                      </div>
                      <div class="recipient-info">
                        <span
                          class="tooltip"
                          matTooltip="{{ recipient.url }}"
                          matTooltipClass="tt-wrapping"
                          >{{ recipient.url }}
                        </span>
                      </div>
                    }
                    @if ((deleteRecipientLoading$ | async) === recipient.id) {
                      <mat-progress-spinner
                        [diameter]="20"
                        color="primary"
                        mode="indeterminate"
                      ></mat-progress-spinner>
                    } @else {
                      <button
                        class="trash medium-icon-button"
                        id="delete-recipient"
                        mat-icon-button
                        color="primary"
                        attr.aria-label="Delete Alert {{ i + 0 }}"
                        (click)="removeAlertRecipient(recipient, alert)"
                      >
                        <mat-icon>delete_outline</mat-icon>
                      </button>
                    }
                  </div>
                </li>
              }
            </ul>
            <button
              mat-stroked-button
              color="primary"
              (click)="openUpdateRecipientDialog(alert)"
            >
              <mat-icon>add</mat-icon>
              Add An Alert Recipient
            </button>
          </div>
        }
      }
    }
    @if ((initialLoad$ | async) === false) {
      <div class="initial-loading">
        <mat-progress-spinner
          [diameter]="40"
          color="primary"
          mode="indeterminate"
        ></mat-progress-spinner
      ></div>
    }
    @if (initialLoadError$ | async; as error) {
      <div class="error initial-load-error">
        {{ error }}
      </div>
    }
  </mat-card-content>
</mat-card>
