@use "sass:map";
@use "@angular/material" as mat;
@import "variables";

// These are the light theme colors fixed into this .scss
// @TODO Use theme variables and light/dark prefs here.
$event-level-default-color-light: #f5f5f5;
$event-level-debug-color-light: #e0e0e0;
$event-level-sample-color-light: #f5f5f5;
$event-level-info-color-light: #4b60b4;
$event-level-warning-color-light: #e9b949;
$event-level-error-color-light: #e22a46;
$event-level-fatal-color-light: repeating-linear-gradient(-60deg,#e22a46,#e22a46 5px,#fff 5px 10px);;

$event-level-default-color-dark: $event-level-default-color-light;
$event-level-debug-color-dark: mat.m2-get-color-from-palette(mat.$m2-gray-palette, 600);
$event-level-sample-color-dark: mat.m2-get-color-from-palette(mat.$m2-gray-palette, 400);
$event-level-info-color-dark: $event-level-info-color-light;
$event-level-warning-color-dark: $event-level-warning-color-light;
$event-level-error-color-dark: $event-level-error-color-light;
$event-level-fatal-color-dark: $event-level-fatal-color-light;
